@charset "UTF-8";
/* header */
/* footer */
footer {
  margin-top: 8rem;
  background-color: #333333;
  padding: 2.4rem 1.6rem;
  color: #fff;
}

.footer-info {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.6rem;
     -moz-column-gap: 1.6rem;
          column-gap: 1.6rem;
  row-gap: 0.8rem;
}
.footer-info .subtit_03 {
  color: #ec0082;
}
.copyright {
  display: block;
  margin-top: 2.4rem;
  padding-top: 2.3rem;
  border-top: 1px solid #666666;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025em;
}
@media (max-width: 1024px) {
  .copyright {
    font-size: 1.4rem;
  }
}
@media (max-width: 798px) {
  .copyright {
    font-size: 1.3rem;
  }
}

/* 버튼 정렬 */
.btn-wrap {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.2rem;
}
.btn-wrap.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.btn-wrap.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 798px) {
  .btn-wrap {
    gap: 1rem;
  }
}

/* 버튼 */
.btn {
  min-width: 7.7rem;
  height: 4.8rem;
  padding: 0 2.3rem;
  border-radius: 999px;
  border: 1px solid #A2A2A2;
  background-color: #fff;
  color: #111111;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 4.6rem;
  letter-spacing: -0.025em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
}
@media (max-width: 798px) {
  .btn {
    font-size: 1.4rem;
  }
}
.btn-l {
  min-width: 9.5rem;
  height: 5.6rem;
  padding: 0 3.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 5.4rem;
  letter-spacing: -0.025em;
}
@media (max-width: 1024px) {
  .btn-l {
    font-size: 1.7rem;
  }
}
@media (max-width: 798px) {
  .btn-l {
    font-size: 1.5rem;
  }
}
.btn-m { /* 기본 .btn과 동일 */ }
@media (max-width: 1024px) {
  .btn {
    min-width: 6.9rem;
    padding: 0 2rem;
  }
  .btn-l {
    min-width: 8.5rem;
    padding: 0 2.7rem;
  }
}
@media (max-width: 798px) {
  .btn {
    min-width: 6.6rem;
    height: 4.2rem;
    line-height: 4rem;
  }
  .btn-l {
    min-width: 8.2rem;
    height: 5rem;
    line-height: 4.8rem;
  }
}
.btn-primary-bg {
  border-color: #1b1f95;
  background-color: #1b1f95;
  color: #fff;
  font-weight: 600;
}
.btn-primary-bg:hover {
  border-color: #22307b;
  background-color: #22307b;
}
.btn-primary-bg:active {
  border-color: #070a5d;
  background-color: #070a5d;
}
.btn-primary-line {
  border-color: #1b1f95;
  background-color: #fff;
  color: #1b1f95;
}
.btn-primary-line:hover {
  background-color: #F5F6F9;
}
.btn-primary-line:active {
  background-color: #F5F5F5;
}
.btn-gray-line {
  border-color: #A2A2A2;
  background-color: #fff;
}
.btn-gray-line:hover {
  background-color: #F5F6F9;
}
.btn-gray-line:active {
  background-color: #F5F5F5;
}

/* === 공통: 테이블 외곽 === */
.table-scroll {
  width: 100%;
  overflow-x: visible;
}
@media (max-width: 798px) {
  .table-scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-scroll::-webkit-scrollbar {
    width: 3px; /* 세로축 스크롤바 폭 너비 */
    height: 3px; /* 가로축 스크롤바 폭 너비 */
  }
  .table-scroll::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 999px;
  }
  .table-scroll::-webkit-scrollbar-track {
    background: #E0E3E5;
  }
}

.table-wrap {
  width: 100%;
}
@media (max-width: 798px) {
  .table-wrap:has(.table-basic:not(.table-res)) {
    min-width: 100rem;
  }
}

/* === 기본 공통: 헤더/셀 === */
.table-basic {
  width: 100%;
  border-top: 2px solid #111111;
  border-collapse: collapse;
  color: #111111;
}
.table-basic th, .table-basic td {
  padding: 2rem 0.8rem;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
}
@media (max-width: 798px) {
  .table-basic th, .table-basic td {
    padding: 1.5rem 1.6rem;
  }
}
.table-basic thead th {
  border-bottom: none;
  border-bottom: 1px solid #DDDDDD;
  background-color: #FAFAFB;
}
.table-basic tbody th {
  border-right: 1px solid #DDDDDD;
  background-color: #fff;
}
.table-basic th {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.025em;
}
@media (max-width: 1024px) {
  .table-basic th {
    font-size: 1.5rem;
  }
}
@media (max-width: 798px) {
  .table-basic th {
    font-size: 1.4rem;
  }
}
.table-basic td {
  background-color: #fff;
  color: #666666;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025em;
}
@media (max-width: 1024px) {
  .table-basic td {
    font-size: 1.6rem;
  }
}
@media (max-width: 798px) {
  .table-basic td {
    font-size: 1.4rem;
  }
}

/* === table-row: 행기준 기본 테이블 커스텀 === */
.table-basic.table-row tr {
  background-color: #fff;
}
.table-basic.table-row th {
  background-color: #FAFAFB;
  font-weight: 400;
  color: #111111;
  vertical-align: middle;
  white-space: nowrap;
}
.table-basic.table-row th.ta_l {
  text-align: left;
}
.table-basic.table-row td {
  text-align: left;
  vertical-align: middle;
}

.box {
  padding: 2.4rem;
  border-radius: 1.6rem;
}

/* element */