@charset "UTF-8";

/* 프리탠다드 GOV */
@font-face {
    font-family: 'PretendardGOV';
    font-weight: 900;
    font-display: swap;
    src: local('PretendardGOV-Black'), url(../fonts/woff2/PretendardGOV-Black.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-Black.woff) format('woff');
}

@font-face {
    font-family: 'PretendardGOV';
    font-weight: 800;
    font-display: swap;
    src: local('PretendardGOV-ExtraBold'), url(../fonts/woff2/PretendardGOV-ExtraBold.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'PretendardGOV';
    font-weight: 700;
    font-display: swap;
    src: local('PretendardGOV-Bold'), url(../fonts/woff2/PretendardGOV-Bold.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-Bold.woff) format('woff');
}

@font-face {
    font-family: 'PretendardGOV';
    font-weight: 600;
    font-display: swap;
    src: local('PretendardGOV-SemiBold'), url(../fonts/woff2/PretendardGOV-SemiBold.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'PretendardGOV';
    font-weight: 500;
    font-display: swap;
    src: local('PretendardGOV-Medium'), url(../fonts/woff2/PretendardGOV-Medium.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-Medium.woff) format('woff');
}

@font-face {
    font-family: 'PretendardGOV';
    font-weight: 400;
    font-display: swap;
    src: local('PretendardGOV-Regular'), url(../fonts/woff2/PretendardGOV-Regular.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-Regular.woff) format('woff');
}

@font-face {
    font-family: 'PretendardGOV';
    font-weight: 300;
    font-display: swap;
    src: local('PretendardGOV-Light'), url(../fonts/woff2/PretendardGOV-Light.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-Light.woff) format('woff');
}

@font-face {
    font-family: 'PretendardGOV';
    font-weight: 200;
    font-display: swap;
    src: local('PretendardGOV-ExtraLight'), url(../fonts/woff2/PretendardGOV-ExtraLight.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'PretendardGOV';
    font-weight: 100;
    font-display: swap;
    src: local('PretendardGOV-Thin'), url(../fonts/woff2/PretendardGOV-Thin.woff2) format('woff2'), url(../fonts/woff/PretendardGOV-Thin.woff) format('woff');
}

/* 프리탠다드 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard-Black'), url(../fonts/woff2/Pretendard-Black.woff2) format('woff2'), url(../fonts/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard-ExtraBold'), url(../fonts/woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard-Bold'), url(../fonts/woff2/Pretendard-Bold.woff2) format('woff2'), url(../fonts/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard-SemiBold'), url(../fonts/woff2/Pretendard-SemiBold.woff2) format('woff2'), url(../fonts/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard-Medium'), url(../fonts/woff2/Pretendard-Medium.woff2) format('woff2'), url(../fonts/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard-Regular'), url(../fonts/woff2/Pretendard-Regular.woff2) format('woff2'), url(../fonts/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard-Light'), url(../fonts/woff2/Pretendard-Light.woff2) format('woff2'), url(../fonts/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard-ExtraLight'), url(../fonts/woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(../fonts/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard-Thin'), url(../fonts/woff2/Pretendard-Thin.woff2) format('woff2'), url(../fonts/woff/Pretendard-Thin.woff) format('woff');
}