@charset "UTF-8";
/* 인사말 · 미션 */
.greeting-box {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4rem;
}
.greeting-box .info {
  width: calc(100% - 46.6rem);
  padding: 2.4rem 2.4rem 3.9rem;
}
.greeting-box .info .tit_05 {
  margin-top: 3.2rem;
}
.greeting-box .info .subtit_01 {
  margin-top: 2.4rem;
}
.greeting-box .img {
  display: inline-block;
  width: 42.6rem;
  border-radius: 0.8rem;
  overflow: hidden;
}
.greeting-box .img img {
  display: block;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (max-width: 1024px) {
  .greeting-box {
    gap: 2.4rem;
  }
  .greeting-box .info {
    width: calc(66% - 2.4rem);
    padding: 1.6rem;
    word-break: keep-all;
    text-wrap-style: pretty;
  }
  .greeting-box .info .tit_05 {
    margin-top: 1.6rem;
  }
  .greeting-box .info .subtit_01 {
    margin-top: 0.8rem;
  }
  .greeting-box .img {
    width: 34%;
  }
}
@media (max-width: 798px) {
  .greeting-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.6rem;
  }
  .greeting-box .info {
    width: 100%;
    padding: 0;
  }
  .greeting-box .img {
    width: 100%;
  }
}

.mission-box {
  border-radius: 1.6rem;
}
@media (max-width: 798px) {
  .mission-box {
    border-radius: 0;
  }
}

.vision-box {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.6rem;
}
.vision-box .circle-box {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 999px;
}
.vision-box .icon-tit {
  width: 24rem;
}
.vision-box .icon-tit .icon {
  display: block;
  width: 6rem;
}
.vision-box .icon-tit .icon img {
  display: block;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.vision-box .icon-tit .tit_04 {
  margin-top: 1.4rem;
}
.vision-box .info-txt {
  width: 33.4rem;
  margin: 0 -1.6rem;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 1024px) {
  .vision-box .icon-tit {
    width: 22rem;
  }
  .vision-box .icon-tit .icon {
    width: 4.8rem;
  }
  .vision-box .icon-tit .tit_04 {
    margin-top: 1rem;
  }
  .vision-box .info-txt {
    width: 30rem;
  }
}
@media (max-width: 798px) {
  .vision-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vision-box .icon-tit {
    width: 18rem;
  }
  .vision-box .icon-tit .icon {
    width: 3.6rem;
  }
  .vision-box .icon-tit .tit_04 {
    margin-top: 0.6rem;
  }
  .vision-box .info-txt {
    width: 27rem;
    margin: -1.6rem 0;
  }
}

/* 관련기관 */
.agency-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 3.2rem;
     -moz-column-gap: 3.2rem;
          column-gap: 3.2rem;
  row-gap: 3.2rem;
  width: 100%;
}
@media (max-width: 1024px) {
  .agency-list {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 2.8rem;
       -moz-column-gap: 2.8rem;
            column-gap: 2.8rem;
    row-gap: 2.8rem;
  }
}
@media (max-width: 798px) {
  .agency-list {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1.4rem;
       -moz-column-gap: 1.4rem;
            column-gap: 1.4rem;
    row-gap: 1.4rem;
  }
}
@media (max-width: 540px) {
  .agency-list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.2rem;
  }
}
.agency-item {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  overflow: hidden;
}
.agency-item a {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  width: 100%;
  height: 100%;
  padding: 3.2rem 1.6rem 4rem;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 798px) {
  .agency-item a {
    padding: 1.2rem 1.2rem 3.2rem;
  }
}
.agency-item .img {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 9.6rem;
}
.agency-item .img img {
  display: block;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.agency-item .caption_01 {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  text-align: center;
  font-weight: 600;
}
.agency-item .caption_01 .icon-link {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #545456;
  mask-image: url("../img/sub/icon/icon-link.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  -webkit-mask-image: url("../img/sub/icon/icon-link.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}

/* 찾아오시는길 */
.map-wrap {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.map-wrap .map {
  border-radius: 8px;
  overflow: hidden;
}
.map-wrap .address-wrap {
  margin-top: 4.8rem;
}
.map-wrap .address-wrap h4 {
  margin-bottom: 3.6rem;
}
.map-wrap .address-wrap .flex {
  margin-bottom: 1rem;
}
.map-wrap .address-wrap .flex .subtit_03 {
  width: 11.7rem;
  color: #545456;
}
.map-wrap .address-wrap .flex .txt_01 {
  color: #545456;
}
.map-wrap .address-wrap .flex:last-child {
  margin-bottom: 0;
}
@media (max-width: 798px) {
  .map-wrap {
    padding: 2rem 1.6rem;
  }
  .map-wrap .address-wrap {
    margin-top: 2.4rem;
  }
  .map-wrap .address-wrap h4 {
    margin-bottom: 3.2rem;
  }
  .map-wrap .address-wrap .flex .subtit_03 {
    width: 6.9rem;
  }
  .map-wrap .address-wrap .flex .txt_01 {
    width: calc(100% - 6.9rem);
  }
}

.transportation-wrap {
  margin-top: 6rem;
}
.transportation-list {
  margin-top: 3.6rem;
}
@media (max-width: 798px) {
  .transportation-list {
    margin-top: 1.6rem;
  }
}
.transportation-cont {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  padding: 4.8rem 4rem;
  border-bottom: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.transportation-cont:first-of-type {
  border-top: 1px solid #A2A2A2;
}
@media (max-width: 1024px) {
  .transportation-cont {
    gap: 4rem;
  }
}
.transportation-cont .icon {
  display: inline-block;
  width: 10rem;
  height: 10rem;
}
@media (max-width: 1024px) {
  .transportation-cont .icon {
    width: 9rem;
    height: 9rem;
  }
}
.transportation-cont .icon img {
  display: block;
  width: 100%;
  height: 100%;
}
.transportation-cont .info {
  width: 100%;
  max-width: calc(100% - 18rem);
}
@media (max-width: 1024px) {
  .transportation-cont .info {
    max-width: 100%;
  }
}
.transportation-cont .info .way {
  margin-top: 1.6rem;
}
.transportation-cont .info .way .txt_02 {
  color: #333333;
}
.transportation-cont .info .way .txt_02 + .txt_02 {
  margin-top: 1.2rem;
}
.transportation-cont .info .way .flex:has(.line-bedge) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.transportation-cont .info .way .line-bedge {
  display: inline-block;
  margin-right: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  background: #D4023D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.025em;
}
@media (max-width: 1024px) {
  .transportation-cont .info .way .line-bedge {
    font-size: 1.4rem;
  }
}
@media (max-width: 798px) {
  .transportation-cont .info .way .line-bedge {
    font-size: 1.3rem;
  }
}
.transportation-cont .info-train .way {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2.4rem;
}
@media (max-width: 1024px) {
  .transportation-cont .info-train .way {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 798px) {
  .transportation_wrap {
    margin-top: 5.6rem;
  }
  .transportation-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.8rem;
    padding: 2.8rem 0;
  }
  .transportation-cont .icon {
    width: 8rem;
    height: 8rem;
  }
  .transportation-cont .info .subtit_01 {
    text-align: center;
  }
  .transportation-cont .info-train .way {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.2rem;
  }
}

/*================================= mob =======================================*/