#wrap {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
}

.container {
  padding: 0 1.6rem;
}

.sec-title {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sec-title span:not(.date) {
  padding: 0.8rem 1.6rem;
  border-radius: 999px;
  background-color: #f19d67;
  color: #fff;
}

.visual {
  width: 100%;
}
.visual img {
  display: block;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.worship-list li {
  position: relative;
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 0.4rem;
}
.worship-list li + li {
  border-top: 1px solid #CCCCCC;
}
.worship-list .tit {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025em;
}
.worship-list .name {
  margin-left: auto;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025em;
  color: #333333;
  text-align: right;
}
.worship-list .subject {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.025em;
}
.worship-list div {
  width: 60%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.notice-list li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025em;
}