.back-btn {
  -ms-display: flexbox; /* IE10 */
  display: -webkit-box; /* OLD iOS, Safari */ /* OLD Firefox */
  display: -ms-flexbox; /* IE10 Tweener */ /* NEW Chrome */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 0.8rem;
  border-radius: 0.8rem;
  background: #fff;
  color: #1f2937;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
  -webkit-box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.04);
          box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.04);
}

.archive-list li {
  background: #fff;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 1.6rem;
  -webkit-box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.04);
          box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.04);
}
.archive-list a {
  display: block;
  color: #1f2937;
}
.archive-list .date {
  margin-bottom: 0.8rem;
  color: #6b7280;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.025em;
}
.archive-list .title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.025em;
}