@charset 'UTF-8';
@use 'bar' as *;
@use 'mixin' as *;

/* 버튼 정렬 */
.btn-wrap { @include d-flex; @include flex-wrap; @include justify-center; gap: 1.2rem;
	&.justify-start{ @include justify-start;}
	&.justify-end{ @include justify-end;}

	@include res798{ gap: 1rem;}
}

/* 버튼 */
.btn { min-width: 7.7rem; height: 4.8rem; padding: 0 2.3rem; border-radius: 999px; border: 1px solid $color-gray-300; background-color: $color-realwhite; color: $color-black; @include text-style(depth2,400,4.6rem); cursor: pointer; transition: all 0.2s;
	// 사이즈
	&-l{ min-width: 9.5rem; height: 5.6rem; padding: 0 3.1rem; @include text-style(depth1,400,5.4rem);}
	&-m{ /* 기본 .btn과 동일 */ }

	@include res1024{ min-width: 6.9rem; padding: 0 2rem;
		&-l{ min-width: 8.5rem; padding: 0 2.7rem;}
	}
	@include res798{ min-width: 6.6rem; height: 4.2rem; line-height: 4rem;
		&-l{ min-width: 8.2rem; height: 5rem; line-height: 4.8rem;}
	}

	&-primary-bg{ border-color: $color-primary-500; background-color: $color-primary-500; color: $color-realwhite; font-weight: 600;
		&:hover{ border-color: #22307b; background-color: #22307b;}
		&:active{ border-color: $color-primary-800; background-color: $color-primary-800;}
	}
	&-primary-line{ border-color: $color-primary-500; background-color: $color-realwhite; color: $color-primary-500;
		&:hover{ background-color: $color-blue-bg-10;}
		&:active{ background-color: $color-gray-bg-20;}
	}
	&-gray-line{ border-color:$color-gray-300; background-color: $color-realwhite;
		&:hover{ background-color: $color-blue-bg-10;}
		&:active{ background-color: $color-gray-bg-20;}
	}
}