@charset 'UTF-8';

@use "sass:math";
@use "sass:map";

// 모듈 불러오기: as * 사용 시 네임스페이스 없이 사용 가능
@use 'bar' as *;
@forward 'bar';

//* =========================================
//  미디어쿼리
// ========================================= */
@mixin res($w) {
  @media (max-width: $w) {
    @content;
  }
}

@mixin res1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin res798 {
  @media (max-width: 798px) {
    @content;
  }
}

@mixin res_hover {
  @media (min-width: 1280px) {
    @content;
  }
}

//* =========================================
//  위치
// ========================================= */
@mixin position(
  $p: absolute,
  $t: null,
  $b: null,
  $l: null,
  $r: null
) {
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}
@mixin pos($p:null, $t:null, $r:null, $b:null, $l:null){
    position:$p;
    top:$t;
    right:$r;
    bottom:$b;
    left:$l;
};

//* =========================================
//  컨테이너
// ========================================= */
@mixin container {
  width: 100%;
  max-width: $container-width;
  padding: 0 $container-padding;
  margin-left: auto;
  margin-right: auto;

  @include res798 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

//* =========================================
//  Grid & Flex
// ========================================= */
@mixin d-block { display: block; }
@mixin d-grid($y:null) { 
	display: grid;
	grid-row-gap: $y;
	row-gap: $y;
}

@mixin d-grid-column($y, $x) {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $y + rem $x + rem;
  gap: $y + rem $x + rem;
}

@mixin d-grid-column--repeat($num, $y, $x) {
  display: grid;
  grid-template-columns: repeat($num, 1fr);
  grid-gap: $y + rem $x + rem;
  gap: $y + rem $x + rem;
}

@mixin d-flex {
  -ms-display: flexbox;      /* IE10 */
  display: -webkit-box;      /* OLD iOS, Safari */
  display: -moz-box;         /* OLD Firefox */
  display: -ms-flexbox;      /* IE10 Tweener */
  display: -webkit-flex;     /* NEW Chrome */
  display: flex;
}

@mixin inline-flex {
  display: inline-flex;
  display: -webkit-inline-flex;
}

@mixin flex-column { flex-direction: column; }
@mixin flex-row { flex-direction: row; }
@mixin flex-wrap { flex-wrap: wrap; }
@mixin flex-nowrap { flex-wrap: nowrap; }

@mixin flex-center {
  @include d-flex;
  @include align-center;
  @include justify-center;
}

@mixin align-center { align-items: center; }
@mixin align-start { align-items: flex-start; }
@mixin align-end { align-items: flex-end; }

@mixin justify-center { justify-content: center; }
@mixin justify-start { justify-content: flex-start; }
@mixin justify-end { justify-content: flex-end; }
@mixin justify-between { justify-content: space-between; }

@mixin flex-none { flex: none; }

//* =========================================
//  폰트 & 타이포
// ========================================= */
@mixin font($s, $w, $c) {
	font-size: $s + rem;
	font-weight: $w;
	color: $c;
}

@mixin title-style($depth, $weight, $line-height) {
	font-size: map.get($tit-sizes, $depth);
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: -0.025em;
}

@mixin subtitle-style($depth, $weight, $line-height) {
	font-size: map.get($stit-sizes, $depth);
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: -0.025em;
}

@mixin text-style($depth, $weight, $line-height) {
	font-size: map.get($txt-sizes, $depth);
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: -0.025em;
}

@mixin caption-style($depth, $weight, $line-height) {
	font-size: map.get($caption-sizes, $depth);
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: -0.025em;
}

//* =========================================
//  텍스트 처리
// ========================================= */
@mixin ellipsis-single {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin ellipsis-multiline($line) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin ellipsis-none {
	white-space: unset;
	overflow: unset;
	text-overflow: unset;
}

//* =========================================
//  Focus / Accessibility
// ========================================= */
@mixin focus($offset: -.2rem, $color: $primary, $alpha: .8) {
	outline-offset: $offset;
	$transparent: 1 - $alpha;
	$focus-color: transparentize($color, $transparent);
	outline: 2px solid $focus-color;
}

@mixin is-focus {
	outline: 2px dashed $color-primary-500;
	transition: unset;
}

// screen reader only
@mixin sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

@mixin card{
	padding: 2.4rem 2rem;
	border-radius: 1.6rem;
	background: $color-realwhite;
	box-shadow: 0 0.8rem 2.4rem rgba(0,0,0,0.04);
}