@charset 'UTF-8';
@use 'bar' as *;
@use 'mixin' as *;

.back-btn{ @include d-flex; @include align-center; @include justify-center; width: 3.6rem; height: 3.6rem; margin-right: 0.8rem; border-radius: 0.8rem; background: $color-realwhite; color: #1f2937; @include subtitle-style(depth3,600,1); box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.04);}

.archive-list{
	li{ background: $color-realwhite; border-radius: 1.2rem; margin-bottom: 1.2rem; padding: 1.6rem; box-shadow: 0 0.8rem 2rem rgba(0,0,0,.04);}
	a{ display: block; color: $color-black;}

	.date{ margin-bottom: 0.8rem; color: #6b7280; @include caption-style(depth1,400,1.6);}
	.title{ @include text-style(depth1,600,1.6);}
}